/*----------------------------------------
BASE
------------------------------------------*/
body {
  font-size: 62.5%;
}

#root {
  height: 100vh;
}

/*----------------------------------------
COMMON
------------------------------------------*/
/* layout */
.inner {
  padding: $base-pd*2;
}
